html {
  height: 100%;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  display: inline-flex;
  justify-content: center;
  flex-grow: 1;
  overflow: scroll;
}
body {
  color: #cae9ea;
  background-color: #1d1d1d;
  padding: 30pt;
  cursor: url(), url(), auto;
}
p {
  color: #cae9ea;
  font-weight: lighter;
  text-indent: 25pt;
  font-size: 10pt;
  line-height: 1.50;
}
nav {
  background-color: #273b40;
  padding: 20pt;
  width: 100%;
  border: #273b40;
}
.img1 { background-image: url("smile.png"); }
table, th, tr, td{
  text-align: center;
  width: 100%;
  border: 1pt solid #3c4748;
}
button {
  background-color: #273b40;
  opacity: 75%;
  border-radius: 5pt;
  border-color: transparent;
}
a[href] {
  color: #208c8c;
  text-decoration: none;
}
a:hover {
  color: #cae9ea;
  text-decoration: none;
}
a:visited {
  color: violet;
  text-decoration: none;
}
.border {
  border-radius: 15pt;
}
.folder {
  position: sticky;
}
.container {
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
}
.animationTwo {
  background-color: #273b40;
  scale: 1;
  transition: 1s;
}
.animationTwo:hover {scale: 1.05;}
